.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 82vh;
  background-blend-mode: hue;
  background-size: cover;
}

.form {
  padding: 80px 60px;
}
