.section {
  color: white;
  background-image: url('../../img/24ABJa.jpg');
  background-size: cover;
  height: 90vh;
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  position: relative;
  /* font-family: 'Cormorant Unicase', serif; */
}

.section-first-overlay {
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 90vh;
}

.container {
  /* padding-top: 50px; */
  display: flex;
  z-index: 1;
}

.heading {
  /* font-family: 'Cormorant Unicase', serif; */
  text-align: center;
  font-size: 50px;
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
}

.small-headers {
  margin-top: 15px;
  color: #ffd200;
  /* font-family: 'Cormorant Unicase', serif; */
}

.images {
  cursor: pointer;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.container:first-of-type {
  margin-top: 100px;
}

.container:last-of-type {
  margin: 0 auto;
  padding: 25px 0;
  margin-top: 5px;
  flex-direction: column;
  align-items: center;
}

.text {
  text-align: center;
}

.description {
  margin-left: 5px;
  margin-top: 5px;
  padding: 75px 125px;
  width: 50%;

  background-color: rgba(0, 0, 0, 0.103);
  backdrop-filter: blur(3px);
}

.description:nth-child(2) {
  margin-bottom: 20px;
}

.about {
  margin: 0 auto;
  max-width: 75%;
}

.items:first-of-type {
  margin-left: 0px;
}

.reviews_container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews_container button {
  margin-top: 0;
  margin-left: 200px;
}

.center {
  margin: 0 auto;
}

.rating-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
  margin-right: 100px;
}

.rating {
  font-size: 20px;
}

.stars {
  font-size: 30px;
}

.rating-container button {
  margin: 0;
}

.button {
  cursor: pointer;
  /* font-family: 'Cormorant Unicase', serif; */
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #ffd200;
  border-radius: 2px;
  width: 180px;
  height: 31px;
  border-color: transparent;
  /* margin-top: 30px; */
}

.add-friend-form {
  margin-top: 10px;
  padding: 0 50px;
}

.share-input {
  /* width: 300px;
  height: 43px; */
  width: 300px;
  height: 50px;
  /* margin: 25px; */
  padding: 15px 50px;
  margin: 25px;
  background: black !important;
  border: 1px solid #333333 !important;
  /* border-radius: 3px; */
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif !important;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  z-index: 9999;
  /* font-family: 'Cormorant Unicase', serif; */
}

.modalContentWr {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
  color: black;
  height: 250px;
  width: 480px;
  padding: 1.5rem;
  border-radius: 8px;
}

.modalContentWr h2 {
  margin-top: 20px;
}

.modalContentWr input {
  width: 350px;
}

.closeButton {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  width: 25px;
  height: 25px;
  background-image: url('../../img/cancel.svg');
}

.instagram {
  margin-top: 15px;
}

.swiper {
  width: 400px;
  height: 267px;
}
