.map {
  margin-top: 20px;
  text-align: center;
}

.map div {
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.myMaps {
  filter: invert(100%);
  -ms-filter: invert(100%);
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -o-filter: invert(100%);
}
