.header {
  background-color: rgba(43, 43, 43, 0.07);
  backdrop-filter: blur(2px);
  position: fixed;
  top: 20px;
  z-index: 999999;
  width: 100vw;
}

.header-container {
  padding-right: 100px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-list {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.navigation-list__item,
.logo {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 15px;
  color: #ffffff;
  margin-right: 47px;
  align-self: center;
}

.navigation-list__item a,
.logo {
  font-family: 'Cormorant Unicase', serif;
  font-weight: bold;
  color: #ffffff;
}

.navigation-list__item a {
  margin-left: 30px;
}

.navigation-list__item a:hover {
  color: #ffd200;
  transition: color 0.5s;
}

.logo {
  color: #ffd200;
  transition: color 0.5s;
  font-size: 35px;
  margin-right: 100px;
}
