.header {
  background-color: black;
}

.header-container {
  padding-left: 100px;
  padding-right: 100px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.navigation-list__item a {
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 15px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 47px;
  align-self: center;
}
