.header {
  background-color: rgba(255, 255, 255, 0.075);
  backdrop-filter: blur(2px);
  position: fixed;
  top: 20px;
  z-index: 999999;
  width: 100vw;
}

.header-container {
  padding-left: 100px;
  padding-right: 100px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-list {
  width: 800px;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.navigation-list__item,
.logo {
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 15px;
  color: #ffffff;
  margin-right: 47px;
  align-self: center;
}

.navigation-list__item a,
.logo {
  font-family: 'Almendra', serif;
  font-weight: bold;
  color: #ffffff;
}

.logo {
  font-size: 35px;
}
