.section {
  color: white;
  background-image: url('../../img/24ABJa.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: 'Cormorant Unicase', serif;
}

.section-first-overlay {
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.container {
  padding-top: 50px;
  display: flex;
  z-index: 99999;
}

.heading {
  font-family: 'Cormorant Unicase', serif;
  text-align: center;
  font-size: 50px;
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
}
.small-headers {
  margin-top: 15px;
  color: #ffd200;
  font-family: 'Cormorant Unicase', serif;
}

.images {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.container:first-of-type {
  margin-top: 100px;
  height: 40%;
}

.container:last-of-type {
  margin: 0 auto;
  padding: 25px 0;
  margin-top: 5px;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

.text {
  text-align: center;
}

.description {
  margin-left: 5px;
  margin-top: 5px;
  height: 98%;
  width: 50%;
}

.description img {
  margin-top: 10px;
}

.description:nth-child(2) {
  margin-left: -90px;
  margin-top: 50px;
}

.items:first-of-type {
  margin-left: 0px;
}

.reviews_container {
  width: 100%;
  margin-top: 80px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

.reviews_container button {
  margin-top: 0;
  margin-left: 200px;
}

.center {
  margin: 0 auto;
}

.rating-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
  margin-right: 50px;
}

.rating {
  font-size: 20px;
}

.stars {
  font-size: 30px;
}

.rating-container button {
  margin: 0;
}

.button {
  cursor: pointer;
  font-family: 'Cormorant Unicase', serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #ffd200;
  border-radius: 2px;
  width: 180px;
  height: 31px;
  border-color: transparent;
  margin-top: 30px;
}

.share-input {
  width: 300px;
  height: 43px;
}
