.section {
  background-image: url('../../img/22fc202843aec437eaf85816416c0e73.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}

.heading {
  text-align: center;
  font-size: 50px;
  color: blueviolet;
  margin-bottom: 15px;
}

.images {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.container:first-of-type {
  margin-top: 100px;
  height: 35%;
}

.container:last-of-type {
  margin: 0 auto;
  padding: 25px 0;
  margin-top: 5px;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

.blur {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
}

.description {
  margin-left: 5px;
  margin-top: 5px;
  height: 98%;
  width: 50%;
}

.items:first-of-type {
  margin-left: 0px;
}

.reviews_container {
  width: 100%;
  margin-top: 3px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

.reviews_container h2 {
  margin-right: 100px;
}

.reviews_container button {
  margin-top: 0;
  margin-left: 100px;
}

.center {
  margin: 0 auto;
}
