.container {
  width: 100vw;
  height: 100vh;
  background-image: url('../../img/SNj0ha9Zqc4.jpg');
  background-size: cover;
  display: flex;
}

.list {
  margin: 0 auto;
  padding: 0;
  margin-top: 100px;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  width: 50%;
  flex-wrap: wrap;
}
