.container {
  overflow-y: scroll;
  width: 100vw;
  height: 90vh;
  background-image: url('../../img/back.png');
  background-size: cover;
  display: flex;
}

.list {
  margin: 0 auto;
  padding: 0;
  margin-top: 145px;
  margin-left: 200px;
  display: flex;
  justify-content: center;
  width: 50%;
  flex-wrap: wrap;
}

.list li:nth-child(odd) {
  margin-right: 40px;
}
