body {
  margin: 0;
  background-color: black;
}

* {
  box-sizing: border-box;
}

p,
li {
  margin: 0;
  list-style-type: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

.button {
  cursor: pointer;
  font-family: 'Cormorant Unicase', serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #ffd200;
  border-radius: 2px;
  width: 200px;
  height: 41px;
  border-color: transparent;
  margin-top: 30px;
  align-self: center;
}

.text {
  color: white;
  text-align: center;
  font-family: 'Cormorant Unicase', serif;
}

.form {
  margin-top: 120px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  margin-top: 29px;
  padding: 30px 20px 25px;
  border: 2px solid rgba(255, 255, 255, 0.363);
}

.description-clue {
  margin-bottom: 5px;
}

input[text] {
  background-color: #d1bbe0;
  border-radius: 2px;
  padding: 5px 40px;
}

.input-clue {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

input::placeholder {
  color: rgb(119, 119, 119);
  text-align: center;
}

.background {
  background-color: white;
}

.modal {
  position: fixed;
  top: 0;
  right: 50px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-container {
  width: 80%;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.stars {
  font-size: 30px;
}
