body {
  margin: 0;
  font-family: 'Libre Baskerville', serif;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

p,
li {
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.button {
  font-family: 'Bernier';
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #d13e12;
  box-shadow: -5px -5px 8px 1px #918f8d;
  border-radius: 5px;
  width: 200px;
  height: 51px;
  border-color: transparent;
  margin-top: 30px;
  align-self: center;
}
