body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

p,
li {
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.button {
  font-family: 'Bernier';
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #deb242;
  box-shadow: -5px -5px 18px 1px #918f8d;
  border-radius: 2px;
  width: 200px;
  height: 51px;
  border-color: transparent;
  margin-top: 30px;
  align-self: center;
}

.text {
  color: rgb(75, 39, 158);
  text-align: center;
  font-family: 'Almendra', serif;
}

.form {
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  margin-top: 29px;
  padding: 30px 20px 25px;
  border: 2px solid rgba(0, 0, 0, 0.363);
  background-color: #c8a9d6;
}

.description-clue {
  margin-bottom: 5px;
}

input {
  background-color: #d1bbe0;
  border-radius: 2px;
  padding: 5px 40px;
}

.input-clue {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

input::placeholder {
  color: rgb(75, 39, 158);
  text-align: center;
}

.background {
  background-color: white;
}
